<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KreateITDAL.Properties.Settings.SQLConnString" connectionString="Server=ORACLESERVER\SQL2005DEV;Database=K5_UTF8_SOURCE;User Id=sa;Password=D3lt@net;" />
        <add name="KreateIT.Data.Properties.Settings.SQLConnStringLive"
            connectionString="Data Source=WIN-612URIC1ADU;Initial Catalog=K5_DEVELOPER;User Id=K5developersql;Password=K5o126473developer;" />
        <add name="KreateIT.Data.Properties.Settings.SQLConnStringTest"
            connectionString="Data Source=ORACLESERVER\SQL2008DEV;Initial Catalog=K5_ENVIRONTEC_BE;User ID=sa;Password=D3lt@net"
            providerName="System.Data.SqlClient" />
        <add name="KreateIT.Data.Properties.Settings.SQLConnStringEnvirontecTest"
            connectionString="Data Source=WIN-A6IVLFBUBP2;Initial Catalog=K5_ENVIRONTEC_BE_test;User Id=environtecsql;Password=environ9986435677tec;" />
        <add name="KreateIT.Data.Properties.Settings.SQLConnStringEnvirontecLive"
            connectionString="Data Source=WIN-A6IVLFBUBP2;Initial Catalog=K5_ENVIRONTEC_BE;User Id=environtecsql;Password=environ9986435677tec;" />
        <add name="KreateIT.Data.Properties.Connection.SQLConnString"
            connectionString="Data Source=ORACLESERVER\SQL2008DEV;Initial Catalog=K5_ENVIRONTEC_BE;User ID=sa;Password=D3lt@net" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
